body {
  margin: 0;
}
main {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project {
  position: relative;
  margin: 5px;
  width: 800px;
  height: 50px;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  opacity: 0.85;
}

#button_Home {
  margin-left: 20px;
  margin-top: 20px;
}

button {
  height: 50px;
  width: 200px;
  border-radius: 100px;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid black;
  font-size: 2rem;
}

#canvas_interface > button {
  margin: 15px;
  font-size: 1rem;
}

#canvas_interface {
  background-color: rgb(100, 100, 100);
  border-left: 4px solid black;

  position: absolute;
  width : 400px;
  height: 100vh;
  top: 0;
  right :0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blinkGreen{
          animation: blinkGreen 1s linear infinite;
}

@keyframes blinkGreen {
          0% {
                    background-color: hsl(100, 50%, 50%);
          }
          50% {
                    background-color: hsl(160, 50%, 50%);
          }
          100% {
                    background-color: hsl(100, 50%, 50%);
          }
}

.blinkBlue{
          animation: blinkBlue 1s linear infinite;
}

@keyframes blinkBlue {
          0% {
                    background-color: hsl(220, 50%, 50%);
          }
          50% {
                    background-color: hsl(270, 50%, 50%);
          }
          100% {
                    background-color: hsl(220, 50%, 50%);
          }
}

.grid {
          transition: border 0.4s linear;
}

/* 3d_text.js */
.center {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10vh;
  font-family: 'Roboto', sans-serif;
  color: rgb(101, 37, 89);
  opacity: 0.2;
}

/* 10_print.js */
.wrapper_10_print {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}
.diagonal_A {
  position: relative;
  height: 50px;
  width: 50px;
}
.diagonal_B {
  position: relative;
  height: 50px;
  width: 50px;
}

.diagonal_A::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  border-top: 2px solid #000000;
  transform-origin: bottom left;
  transform: skewY(45deg);
}

.diagonal_B::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  border-bottom: 2px solid #000000;
  transform: skewY(-45deg);
  transform-origin: bottom left;
}